.git
.github
.next
.secret-dir.local
.deploy

node_modules
**/node_modules
**/dist
**/.next
**/.test-dist
**/coverage
**/playwright-report
**/test-results

.env
.env.*
apps/api/.env
apps/api/.env.*
apps/web/.env
apps/web/.env.*

npm-debug.log*
Dockerfile.local
