node_modules
.next
dist
coverage
**/.test-dist
*.log
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*
.env
.env.local
api.env
web.env
apps/*/.env
apps/*/.env.local
.secret-dir.local
apps/api/prisma/dev.db
apps/api/prisma/generated
.turbo
*.tsbuildinfo
.DS_Store
.vscode
.idea
turbo
playwright-report
test-results
apps/web/playwright-report
apps/web/test-results
